---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.gui-icon {
  width: 16px;
  height: 16px;
  image-rendering: pixelated;
  vertical-align: middle;
  filter: invert(1);
}
